//variables
$main-color: #333;
$white-color: #fff;
$nav-background: rgb(21, 133, 21);
$btn-background: rgb(19, 129, 19);
$light-gray: rgb(214, 213, 213);
$border: 1px solid $main-color;
$btn-color: rgb(30, 30, 214);
$footer-background: #000;
